@model AdminPortal.Mvc.Models.DIY.DIY

@{
    ViewBag.Title = "DIY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Multi Select*@
<link rel="stylesheet" href="~/css/bootstrap-multiselect.css" />
<script src="~/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="~/css/CustomStyle.css" />


<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="../CustomerApplication/Home"><i class="fal fa-home mr-1 fs-md"></i>Home</a></li>
    <li class="breadcrumb-item"><i class="fal fa-image mr-1 fs-sm"></i>Do it Yourself</li>
    <li class="breadcrumb-item"><i class="subheader-icon fal fa-video mr-1 fs-sm"></i>View DIY</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>
<style>
    .select2-selection__arrow b {
        display: none !important;
    }
</style>


@using (Html.BeginForm("ApplyFilters", "DIY", FormMethod.Post, new { @id = "form1", novalidate = "", @class = "needs-validation" }))
{
    <div class="subheader">
        <div class="card col-12">
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
                    <h1 class="subheader-title mt-2 mb-2 pt-1">
                        <i class="subheader-icon fal fa-video"></i>
                        Do it Yourself
                    </h1>
                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-9">
                    <div class="row mb-0">
                        <div class="col-xl-3"></div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-3 mb-0">
                            @*<div class="controls mt-2">
                                    <div class="input-group filter">
                                        @Html.TextBoxFor(x => Model.searchFilters.SelectedDateRange, new { @class = "form-control mt -2 mb-2 filter", placeholder = "Select data range", id = "Validity" })
                                        <label for="Validity" class="input-group-append">
                                            <span class="input-group-text fs-xl" style="height: 91%;">
                                                <i class="fal fa-calendar-alt"></i>
                                            </span>
                                        </label>
                                    </div>

                                </div>*@
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-5 col-xl-2 mb-0 mt-2 mb-2 filter">
                            @Html.DropDownListFor(x => Model.searchFilters.SelectedCategory, Model.videocategory.Select(x => new SelectListItem { Text = x.CategoryName, Value = x.Id.ToString() }), "Select Category", new { @class = "custom-select", id = "TipCategoryFilterList", name = "TipCategoryList" })
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-5 col-xl-2 mb-0 mt-2 mb-2">
                            @*<label for="languageList">Select language:</label>*@
                            @*<select id="languageList" class="form-control mt-2 mb-2"><option>Select language</option></select>*@
                            @Html.DropDownListFor(x => Model.searchFilters.SelectedLanguage, Model.languages.Select(x => new SelectListItem { Text = x.Languagename, Value = x.Languageid.ToString() }), new { @class = "custom-select", id = "LanguageFilterList", name = "Languagelist" })
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-2 col-xl-1 mb-0 mt-2 mb-2 ml-5 ml-md-0">
                            <button type="submit" value="Submit" class="btn btn-primary float-right" id="TipSearch" name="BannerSearch">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="grid" class="row mt-2">
                <div class="col-12">
                    <div class="panel bg-subtlelight-fade mb-4">
                        <div class="panel-hdr">
                            <h2>Tip of the Day (View)</h2>
                            <div class="panel-toolbar float-right mr-2">
                                @Html.ActionLink("Add new Video", "Add", "", new { @class = "btn btn-light mr-4", id = "btn_grid" })
                            </div>
                            <div class="panel-toolbar float-right pr-2">
                                @*<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>*@
                                @*<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>*@
                                @*<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>*@
                            </div>
                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">
                                <div class="tab-content p-3">
                                    <div class="tab-pane fade show active" role="tabpanel">
                                        <table id="dt-videos" class="table table-bordered table-hover table-striped w-100" role="grid" aria-describedby="dt-basic_info">
                                            <thead>
                                                <tr>
                                                    <td class="fw-500 text-center">Sl. No</td>
                                                    <td class="fw-500 text-center">Video Id</td>
                                                    <td class="fw-500 text-center">Video Name</td>
                                                    <td class="fw-500 text-center">Video Description</td>
                                                    <td class="fw-500 text-center">Video Category</td>
                                                    <td class="fw-500 text-center mw-70px">Edit</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Model != null)
                                                    {
                                                        int slno = 0;
                                                        foreach (var itm in Model.videoProperties)
                                                        {
                                                            slno++;
                                                            <tr>
                                                                <td name="slno" class="text-center" data-tip-id="@itm.DIY_ID">@slno</td>
                                                                <td>@itm.DIY_ID</td>
                                                                <td>@itm.DIY_NAME</td>
                                                                <td>@itm.DIY_Description</td>
                                                                <td class="w-50">@itm.DIY_Category</td>
                                                                <td class="fw-500 text-center">
                                                                    <i style="cursor:pointer;" class="fal fa-edit mr-1" onclick="location.href='@Url.Action("Edit", "DIY",new {Id=itm.DIY_ID })'"></i>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {

        //activating menu li
        $('#View_DIY').parent().parent().addClass('active open');
        $('#View_DIY').addClass('active');
        var AngleElm = $('.open .fa-angle-down');
        AngleElm.removeClass('fa-angle-down');
        AngleElm.addClass('fa-angle-up');


        //Multi-Select plugin
        //State List
        $('#LanguageFilterList, #TipCategoryFilterList').multiselect({
            buttonWidth: '100%',
            enableClickableOptGroups: true,
            includeSelectAllOption: true,
            //enableFiltering: true
            buttonText: function (options, select) {
                if (options.length === 0) {
                    return 'No states selected';
                }
                else if (options.length > 3) {
                    return 'More than 3 states selected!';
                }
                else {
                    var labels = [];
                    options.each(function () {
                        if ($(this).attr('label') !== undefined) {
                            labels.push($(this).attr('label'));
                        }
                        else {
                            labels.push($(this).html());
                        }
                    });
                    return labels.join(', ') + '';
                }
            }
        });



        //Datepicker
        $('#Validity').daterangepicker(
            {

            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });


        //for custom-styling
        $('button.multiselect').each(function () {
            $(this).addClass('custom-select');
        });

        var table = $('#dt-videos').dataTable({
            responsive: true,
            dom:
                /*	--- Layout Structure
                    --- Options
                    l	-	length changing input control
                    f	-	filtering input
                    t	-	The table!
                    i	-	Table information summary
                    p	-	pagination control
                    r	-	processing display element
                    B	-	buttons
                    R	-	ColReorder
                    S	-	Select

                    --- Markup
                    < and >				- div element
                    <"class" and >		- div with a class
                    <"#id" and >		- div with an ID
                    <"#id.class" and >	- div with an ID and a class

                    --- Further reading
                    https://datatables.net/reference/option/dom
                    --------------------------------------
                 */
                "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            buttons: [
                {
                    extend: 'colvis',
                    text: 'Column Visibility',
                    titleAttr: 'Col visibility',
                    className: 'btn-outline-default'
                }

            ]
        });

            var messageText =@Html.Raw(ViewBag.Status);
            var messagecontent =@Html.Raw(ViewBag.message);

        if (messageText == "Success") {

            Swal.fire("Success!", messagecontent, "success");
            //bootbox.alert(
            //    {
            //        title: "<i class='fal fa-check-circle text-success mr-2'></i> <span class='text-success fw-500'>Success!</span>",
            //        message: "<span><strong>Great...</strong> Tip of the day has been successfully added.</span>",
            //        centerVertical: true,
            //        className: "modal-alert",
            //        closeButton: false
            //    });
        }
        else if (messageText == "Failed") {
            Swal.fire("Failed!", messagecontent, "failed");
        }
    });
</script>


<div>
    <h4>DIY</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
