@using AdminPortal.Mvc.Models.GeoLocation
@using AdminPortal.Mvc.Extensions
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "TractorModelGroup";
    Layout = "_Layout";
}

@{

    List<AdminPortal.Mvc.Models.TractorModelGroup.TractorModelGroup> TMGModeldata = ViewBag.TractorModelGrouplist == null ? null : ViewBag.TractorModelGrouplist;
    List<AdminPortal.Mvc.Models.Global.Language> LanguageModeldata = ViewBag.LangListItem == null ? null : ViewBag.LangListItem;
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="../CustomerApplication/Home"><i class="fal fa-home mr-1 fs-md"></i>Home</a></li>
    <li class="breadcrumb-item"><i class="fal fa-desktop-alt mr-1 fs-sm"></i>Master</li>
    <li class="breadcrumb-item"><i class="subheader-icon fal fa-tractor"></i>Tractor Model Group</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

@using (Html.BeginForm("TractorModelGroup", "TractorModelGroup", FormMethod.Post, new { @id = "frmmg" }))
{
    <div class="subheader">
        <div class="card col-12">
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                    <h1 class="subheader-title mt-2 mb-2 pt-1">
                        <i class="subheader-icon fal fa-tractor"></i>
                        Tractor Model Group
                    </h1>
                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-3 col-xl-2 mt-2 mb-2">
                    <select id="cmbmglang" name="cmbmglang" class="custom-select">
                        @foreach (AdminPortal.Mvc.Models.Global.Language item in LanguageModeldata)
                        {
                            if (item.Languageid == 1)
                            {
                                <option value=@item.Languageid selected> @item.Languagename</option>
                            }
                            else
                            {
                                <option value=@item.Languageid> @item.Languagename</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-sm-12 col-md-12 col-lg-3 col-xl-1 mt-2 mb-2">
                    <button type="submit" value="Submit" class="btn btn-primary" id="TMGSearch" name="TMGSearch">Apply</button>
                </div>
            </div>
            <div>
                <div class="col-xl-12 row">

                    <div class="alert alert-info" position:absolute; id="sucessmessage" style="display:none;width:500px;margin:0 auto;">
                    </div>

                    <div class="alert alert-danger" position:absolute; id="errormessage" style="display:none;width:500px;">

                    </div>


                </div>
            </div>
            <div id="grid" class="row mt-2">
                <div class="col-12">
                    <div class="panel bg-subtlelight-fade">
                        <div class="panel-hdr">
                            <h2>Tractor Model Group</h2>
                            <div class="panel-toolbar float-right mr-2">

                            </div>
                            @*<div class="panel-toolbar float-right pr-2">
                                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                                </div>*@
                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">
                                <div class="tab-content p-3">
                                    <div class="tab-pane fade show active" role="tabpanel">
                                        <table id="dt-mg" class="table table-bordered table-hover table-striped w-100" role="grid" aria-describedby="dt-basic_info">
                                            <thead>
                                                <tr>
                                                    <td class="fw-500 text-center">S.No</td>
                                                    <td class="fw-500 text-center">Model Group Code</td>
                                                    <td class="fw-500 text-center">Model Group Name</td>
                                                    <td class="fw-500 text-center">Brand</td>
                                                    <td class="fw-500 text-center">Status</td>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int tpno = 0;
                                                }
                                                @foreach (AdminPortal.Mvc.Models.TractorModelGroup.TractorModelGroup item in TMGModeldata)
                                                {
                                                    <tr>
                                                        <td class="text-center">  @{ tpno++; } @tpno</td>
                                                        <td class="text-center">
                                                            @item.MMODELGROUPCODE_VC
                                                        </td>
                                                        <td>
                                                            @item.MMODELGROUPNAME
                                                        </td>
                                                        <td>
                                                            @item.MBRANDNAME
                                                        </td>
                                                        <td align="center">
                                                            @if (item.MACTIVEFLAG_C == "Active")
                                                            {<span class="badge badge-success badge-pill">Active</span>}
                                                            else
                                                            { <span class="badge badge-danger badge-pill">Inactive</span>}
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>

    $(document).ready(function () {

        $("#cmbmglang").val(@HttpContextAccessor.HttpContext.Session.GetString("Dlangid"));

        $('#dt-mg').DataTable()
            .columns.adjust()
            .responsive.recalc();


        $('#Tractors').parent().parent().addClass('active open');
        $('#Tractors').addClass('active');
        var AngleElm = $('.open .fa-angle-down');
        AngleElm.removeClass('fa-angle-down');
        AngleElm.addClass('fa-angle-up');



        //For Filters
        $('#cmbmglang').multiselect({
            buttonWidth: '100%',
            enableClickableOptGroups: true,
            includeSelectAllOption: true,
            float: 'left',
            //enableFiltering: true
            buttonText: function (options, select) {
                if (options.length === 0) {
                    return 'No Languages selected';
                }
                else if (options.length > 3) {
                    return 'More than 3 Languages selected!';
                }
                else {
                    var labels = [];
                    options.each(function () {
                        if ($(this).attr('label') !== undefined) {
                            labels.push($(this).attr('label'));
                        }
                        else {
                            labels.push($(this).html());
                        }
                    });
                    return labels.join(', ') + '';
                }
            }
        });

        $('button.multiselect').each(function () {
            $(this).addClass('custom-select');
        });

        $('#dt-mg_paginate').on('click.page-link', function () {

         $('#dt-mg').DataTable()
        .columns.adjust()
        .responsive.recalc();
        });

    });
    </script>

}

