@model AdminPortal.Mvc.Models.ViewModel.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Application - - Login</title>
    <meta name="description" content="Login">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    <link id="vendorsbundle" rel="stylesheet" media="screen, print" href="~/smartadmin/css/vendors.bundle.css">
    <link id="appbundle" rel="stylesheet" media="screen, print" href="~/smartadmin/css/app.bundle.css">
    <link id="mytheme" rel="stylesheet" media="screen, print" href="~/smartadmin/css/themes/cust-theme-15.css">
    <link id="myskin" rel="stylesheet" media="screen, print" href="~/smartadmin/css/skins/skin-master.css">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/smartadmin/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon.ico">
    <link rel="mask-icon" href="~/smartadmin/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/fa-brands.css">
    <link rel="stylesheet" href="~/css/CustomStyle.css" />
</head>
<!-- BEGIN Body -->
<body class="mod-bg-1 mod-nav-link desktop chrome webkit pace-done blur">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="page-wrapper auth">
        <div class="page-inner bg-brand-gradient">
            <div class="page-content-wrapper bg-transparent m-0">
                <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
                    <div class="d-flex align-items-center container p-0">
                        <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
                            <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                                <img src="~/img/Customer-Application---Smart-Object-Group.png" alt="SmartAdmin WebApp" aria-roledescription="logo" style="width:85% !important; height:100% !important">
                                @*<span class="page-logo-text mr-1">Customer Application</span>*@
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex-1" style="background: url(../SmartAdmin/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
                    <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                        <div class="row">
                            <div class="col col-md-6 col-lg-7 hidden-sm-down">
                                <h2 class="fs-xxl fw-500 mt-4 text-white">
                                    Welcome to Mahindra Tractors
                                </h2>
                                <h3 style="color:#fff" class="mb-5">
                                    Digitizing Farming - Sowing to Marketing
                                </h3>
                                <h3 style="color:#fff">
                                    Empowering Customers to
                                </h3>
                                <ul style="list-style-type:none;">
                                    <li>
                                        <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                                            Track, Monitor and receive alerts on their tractor.
                                        </small>
                                    </li>
                                    <li>
                                        <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                                            Maintain Service history record.
                                        </small>
                                    </li>
                                    <li>
                                        <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                                            Identify and deploy suitable Implements for their Tractors.
                                        </small>
                                    </li>
                                    <li>
                                        <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                                            Locate nearby Dealers.
                                        </small>
                                    </li>
                                    <li>
                                        <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                                            Do comparison between models.
                                        </small>
                                    </li>
                                </ul>

                                <div class="d-sm-flex flex-column align-items-center justify-content-center d-md-block">
                                    <div class="px-0 py-1 mt-5 text-white fs-nano opacity-50">
                                        <!-- Find us on social media -->
                                    </div>
                                    <div class="d-flex flex-row opacity-70">
                                        <a href="https://m.facebook.com/819766224748636/" target="_blank" class="mr-2 fs-xxl text-white">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                        <a href="https://twitter.com/TractorMahindra" class="mr-2 fs-xxl text-white">
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                        @*<a href="#" class="mr-2 fs-xxl text-white">
                                            <i class="fab fa-google-plus-square"></i>
                                        </a>
                                        <a href="#" class="mr-2 fs-xxl text-white">
                                            <i class="fab fa-linkedin"></i>
                                        </a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
                                <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
                                    Login
                                </h1>
                                <div class="card p-4 rounded-plus bg-faded">
                                    @using (@Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @id = "js-login", novalidate = "" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Username, new { @class = "form-label", @for = "username" })
                                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-lg", id = "username", placeholder = "username", Required="required", maxlength="20" })
                                            @Html.ValidationMessageFor(m => m.Username)
                                            <div class="invalid-feedback">Please enter username!</div>
                                            <div class="help-block">Use your username to this app</div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "form-label", @for = "password" })
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", id = "password", placeholder = "password", Required="required", maxlength = "30" })
                                            @Html.ValidationMessageFor(m => m.Password)
                                            <div class="invalid-feedback">Please enter password!</div>
                                            <div class="help-block">Your password</div>
                                        </div>
                                        <div id="alertDiv" class="alert alert-danger alert-dismissable" style="display:none;">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <a id="alertMessage" href="#" class="alert-link"></a>
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="col-lg-12 pr-lg-1 my-2">
                                                <button id="js-login-btn" type="submit" class="btn btn-danger btn-block btn-lg waves-effect waves-themed">Secure Login</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                            2020 © Mahindra &amp; Mahindra
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN Color profile -->
    <!-- this area is hidden and will not be seen on screens or screen readers -->
    <!-- we use this only for CSS color refernce for JS stuff -->
    <p id="js-color-profile" class="d-none">
        <span class="color-primary-50"></span>
        <span class="color-primary-100"></span>
        <span class="color-primary-200"></span>
        <span class="color-primary-300"></span>
        <span class="color-primary-400"></span>
        <span class="color-primary-500"></span>
        <span class="color-primary-600"></span>
        <span class="color-primary-700"></span>
        <span class="color-primary-800"></span>
        <span class="color-primary-900"></span>
        <span class="color-info-50"></span>
        <span class="color-info-100"></span>
        <span class="color-info-200"></span>
        <span class="color-info-300"></span>
        <span class="color-info-400"></span>
        <span class="color-info-500"></span>
        <span class="color-info-600"></span>
        <span class="color-info-700"></span>
        <span class="color-info-800"></span>
        <span class="color-info-900"></span>
        <span class="color-danger-50"></span>
        <span class="color-danger-100"></span>
        <span class="color-danger-200"></span>
        <span class="color-danger-300"></span>
        <span class="color-danger-400"></span>
        <span class="color-danger-500"></span>
        <span class="color-danger-600"></span>
        <span class="color-danger-700"></span>
        <span class="color-danger-800"></span>
        <span class="color-danger-900"></span>
        <span class="color-warning-50"></span>
        <span class="color-warning-100"></span>
        <span class="color-warning-200"></span>
        <span class="color-warning-300"></span>
        <span class="color-warning-400"></span>
        <span class="color-warning-500"></span>
        <span class="color-warning-600"></span>
        <span class="color-warning-700"></span>
        <span class="color-warning-800"></span>
        <span class="color-warning-900"></span>
        <span class="color-success-50"></span>
        <span class="color-success-100"></span>
        <span class="color-success-200"></span>
        <span class="color-success-300"></span>
        <span class="color-success-400"></span>
        <span class="color-success-500"></span>
        <span class="color-success-600"></span>
        <span class="color-success-700"></span>
        <span class="color-success-800"></span>
        <span class="color-success-900"></span>
        <span class="color-fusion-50"></span>
        <span class="color-fusion-100"></span>
        <span class="color-fusion-200"></span>
        <span class="color-fusion-300"></span>
        <span class="color-fusion-400"></span>
        <span class="color-fusion-500"></span>
        <span class="color-fusion-600"></span>
        <span class="color-fusion-700"></span>
        <span class="color-fusion-800"></span>
        <span class="color-fusion-900"></span>
    </p>
    <!-- END Color profile -->
    <!-- base vendor bundle:
         DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations
                    + pace.js (recommended)
                    + jquery.js (core)
                    + jquery-ui-cust.js (core)
                    + popper.js (core)
                    + bootstrap.js (core)
                    + slimscroll.js (extension)
                    + app.navigation.js (core)
                    + ba-throttle-debounce.js (core)
                    + waves.js (extension)
                    + smartpanels.js (extension)
                    + src/../jquery-snippets.js (core) -->
    <script src="~/SmartAdmin/js/vendors.bundle.js"></script>
    <script src="~/SmartAdmin/js/app.bundle.js"></script>
    <script>
        $(document).ready(function () {
            
            var messageText =@Html.Raw(ViewBag.mg);

            if (messageText == null || messageText != "") {
                $("#alertDiv").show();
                $("#alertMessage").text(messageText);
                setTimeout(function () {
                    $("#alertMessage").text(messageText); $("#alertDiv").hide();
                }, 5000);
            }


            $("#js-login-btn").click(function (event) {

                // Fetch form to apply custom Bootstrap validation
                var form = $("#js-login")
                if (form[0].checkValidity() === false) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.addClass('was-validated');
                // Perform ajax submit here...
            });
        });

    </script>

    <!-- END Body -->

</body>
</html>
